<div>
    <h1><%= @tag.phrase %></h1>
</div>

<div class="row">
  <!-- a place for current user stats -->
  <div>
    <% @tag.tweets.order(created_at: :desc).each do |tweet| %>
        <%= render partial: 'layouts/tweet', locals: {tweet: tweet} %>	
    <% end %>
   </div>
</div>